body {
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-container {
  
}

section h2 {
  text-align: center;  
}

a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
}

nav ul {
  list-style: none;
  margin: 24px 0;
  padding: 24px 0;
}

nav li {
  float: left;
  display: block;
  width: 20%;
  text-align: center;
}

// background-image: url("background.png");
