iframe {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-container {
  
}

section h2 {
  text-align: center;  
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
}

nav ul {
  list-style: none;
  margin: 24px 0;
  padding: 24px 0;
}

nav li {
  float: left;
  display: block;
  width: 20%;
  text-align: center;
}

section img {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

// こっから福さんのやつ

html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

}
#slideShowContainer{
	position: relative;
    width: 100%;
    height: auto;
    padding: 28.125% 0 0;
    background-color: #000;
    overflow: hidden;
    margin: 0;
}

#slideShowArea{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    white-space: nowrap;
}
.imgLine{
	position: relative;
	height: calc(100% / 3);
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: #000;
}

.imgContainer{
	display: inline-block;
	width: calc(100% / 7);
	height: 100%;
	padding: 0;
	margin: 0;
}
.slideShowImg{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

#line0{
	animation: slideLeft 11s linear 0s infinite normal;
}
#line1{
	left: -100%;
	animation: slideRight 10s linear 0s infinite normal;
}
#line2{
	animation: slideLeft 12s linear 0s infinite normal;
}

@keyframes slideRight{
	0%{
		left: -100%;
	}
	100%{
		left: 0%;
	}
}

@keyframes slideLeft{
	0%{
		left: 0%;
	}
	100%{
		left: -100%;
	}
}
